# Firebase credentials / service accounts
backend/payla-firebase-adminsdk.json
backend/payla-elite-firebase-adminsdk.json
backend/payla-nexa-firebase-adminsdk-fbsvc-*.json

# Python
__pycache__/
*.pyc
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
